{% extends "basefortinero.html" %}

{% block title %}Fecha{% endblock %}

{% block page_content %}

<form method="POST" action="/filtro/fecha"> 
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"style="background-color: grey">FIXTURE</div>

  <table class="table" style="background-color: black">
  <tr>
    <td><font color="white">{{head[0]}}</font></td>
    <td><font color="white">{{head[1]}}</font></td>
    <td><font color="white">{{head[2]}}</font></td>
    <td><font color="white">{{head[3]}}</font></td>
  </tr>
{% for linea in date %}
  <tr>
    <td><font color="white">{{linea[0]}}</font></td>
    <td><font color="white">{{linea[1]}}</font></td>
    <td><font color="white">{{linea[2]}}</font></td>
    <td><font color="white">{{linea[3]}}</font></td>
  </tr>
{% endfor %}
  </table>
</form>
<div id="bajafecha">
  <a href="/download/fecha">Descarge la consulta</a>
</div>
{% endblock %}




