{% extends "basefortinero.html" %}

{% block title %}Cancha{% endblock %}

{% block page_content %}

<form method="POST" action="/filtro/cancha"> 
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"style="background-color: grey">FIXTURE</div>

  <table class="table" style="background-color: black">
  <tr>
    <td><font color="white">{{cabeza[0]}}</font></td>
    <td><font color="white">{{cabeza[1]}}</font></td>
    <td><font color="white">{{cabeza[2]}}</font></td>
    <td><font color="white">{{cabeza[3]}}</font></td>
  </tr>
{% for linea in canchas %}
  <tr>
    <td><font color="white">{{linea[0]}}</font></td>
    <td><font color="white">{{linea[1]}}</font></td>
    <td><font color="white">{{linea[2]}}</font></td>
    <td><font color="white">{{linea[2]}}</font></td>
  </tr>
{% else %}
    <td><font color="white">No hay resultados</font></td>
{% endfor %}
  </table>
</form>

{% endblock %}




