{% extends "basefortinero.html" %}

{% block title %}Goles{% endblock %}

{% block page_content %}

<form method="POST" action="/filtro/goles"> 
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"style="background-color: grey">FIXTURE</div>

  <table class="table" style="background-color: black">
  <tr>
    <td><font color="white">{{cabezazo[0]}}</font></td>
    <td><font color="white">{{cabezazo[1]}}</font></td>
    <td><font color="white">{{cabezazo[2]}}</font></td>
    <td><font color="white">{{cabezazo[3]}}</font></td>
  </tr>
{% for linea in goal %}
  <tr>
    <td><font color="white">{{linea[0]}}</font></td>
    <td><font color="white">{{linea[1]}}</font></td>
    <td><font color="white">{{linea[2]}}</font></td>
    <td><font color="white">{{linea[3]}}</font></td>
  </tr>
{% endfor %}
  </table>
</form>
<div id="bajagoles">
  <a href="/download/goles">Descarge la consulta</a>
</div>
{% endblock %}




